* {
margin: 0;
padding: 0;
}


#screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #AAAAAA;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: stretch;
}

#container {
    display: flex;

/* child */
    flex: 0 1 480px;

/* container */
    flex-direction: column;
    align-items: stretch;

    display: -webkit-flex;
    -webkit-flex: 0 1 480px;
    -webkit-flex-direction: column;
    -webkit-align-items: stretch;

}

#header {
    background-color: #8888BB;
    padding: 5px;

    /* child */
    flex: 0 0 100px;

    -webkit-flex: 0 0 100px;
}

#header h1 {
    margin: 1px;
    padding: 3px;
}

#header p {
    margin: 1px;
    padding: 1px;
}

#nickContainer {
    padding: 10px;
    background-color: #8888BB;

    flex: 0 0 30px;
    display: flex;
    align-items: baseline;

    -webkit-flex: 0 0 30px;
    display: -webkit-flex;
    -webkit-align-items: baseline;
}

#nickContainer label {
    font-size: 20px;
    padding: 5px;

    flex: 0 0 auto;

    -webkit-flex: 0 0 auto;
}

#nickContainer input {
    font-size: 20px;
    padding: 5px;

    flex: 1 1 auto;

    -webkit-flex: 1 1 auto;
}




#chat {
    border: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    background-color: #f1e9dc;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: auto;

    /* child */
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
}

#chat p {
    clear: both;
    max-width: 85%;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 6px;
    margin-bottom: 3px;
    padding: 3px;

    -webkit-box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.2);
    box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.2);
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
}

#chat p.tx {
    float: right;
    background-color: #f0ffe1;
}

#chat p.rx {
    float: left;
    background-color: #ffffff;
}

#chat p.rx .fromNick {
    font-weight: bold;
}

#chat p.rx .fromNick:after {
    content: ": ";
}

#txContainer {

    background-color: #ffffff;


    /* child */
    flex: 0 0 50px;

/* container */
    display: flex;

    flex-direction: row;
    align-items: flex-start;


    -webkit-flex: 0 0 50px;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: flex-start;
}

#txContainer input {
    font-size: 30px;
    height: 50px;
    flex: 1 1 100px;
    -webkit-flex: 1 1 100px;
}

#txContainer button {
    font-size: 30px;
    height: 50px;
    padding: 0px;
    flex: 0 1 50px;
    -webkit-flex: 0 1 50px;

}


@media (min-width: 700px) {
    #container {
        margin: 25px;
    }
}


